@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

h1 {
  @apply text-4xl font-bold mb-8;
}
h2 {
  @apply text-3xl font-semibold mb-6;
}
h3 {
  @apply text-2xl font-semibold mb-4;
}
h4 {
  @apply text-xl font-medium mb-2;
}
