@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

button {
  background-color: #ef4642;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  margin-top: 0.5rem;
}

textarea {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  margin-top: 0.5rem;
  resize: vertical;
}

h1 {
  @apply text-4xl font-bold mb-8;
}
h2 {
  @apply text-3xl font-semibold mb-6;
}
h3 {
  @apply text-2xl font-semibold mb-4;
}
h4 {
  @apply text-xl font-medium mb-2;
}
