nav.menu {
  background-color: #ef45425c;
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  gap: 2rem;
}
nav.menu a {
  text-decoration: none;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease;
}
nav.menu a:hover {
  background-color: #ef4642;
  color: white;
}

nav.menu a.active {
  background-color: #ef4642;
  color: white;
}
